/* @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin+Sketch:wght@700&display=swap');

body {
  background-image: url('./assets/images/abstract1an.png');
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
}
#traderjocksheader {
  /* font-family: 'Cabin Sketch', cursive; */
  font-family: 'Abril Fatface', cursive;
  font-size: 120px;
  margin: 10px;
  text-shadow: 3px 3px #ffffff54;
}

.caroimage {
  /* max-width: 800px; */
  border: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 10px;
}

.navtext {
  color: rgb(255, 255, 255);
  width: 200px;
  font-size: 25px;
}

#navtext {
  color: white;
}

#basic-nav-dropdown {
  color: white;
}

#tradernavbar {
  background-color: rgba(255, 255, 255, 0.425);
  /* background-image: url('./assets/images/leather1.jpg'); */
  background-size: cover;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

.signupcontainer {
}

#signlogbtn {
background-color: red;
margin: 15px;
height: 60px;
border:none;

}


#traderlogo {
  max-width: 100px;
}
#traderlogocontainer {
  max-width: 100px;
}

.headerp {
  color: white;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footerbutton {
  max-width: 50px;
}

P {
  color: white;
}

.traderfooter {
  margin: 20px;
}

#item {
  background-color: rgba(255, 255, 255, 0.397);
  padding: 20px;
  border-radius: 10px;
}

#itemimage {
  max-width: 400px;
}

#offerh2 {
  color: white;
  margin: 20px;
}

#offertext {
  width:400px;
  height: 200px;
  margin: 20px
}

#submitoffer {
  background-color: white;
  width: 100px;
  margin: 50px;
}

#searchitem {
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  max-width: 20%;
  border-color: red;
  border-style: solid;

}

#searchitemimage {
  max-width: 90%;
  margin: 10px;
  border-color: red;
  border-style: solid;
  border-radius: 10px;
}

.searchheader {
  color: white;
}

#searchitemdescription {
color: black;
}

.carouseldiv {
  margin: 60px;
  margin-left: 200px;
  max-width: 800px;
}

.modal-body {
  background-image: url('./assets/images/leather1.jpg');
  background-size: cover;

}
.modal-header {
  background-color: black;
}

#modaltext {
  color: white;
}

.profileheader {
  background-color: rgba(255, 255, 255, 0.459);
border-radius: 10px;
border-color: white;
border-style: solid;
}


#profileitem {
  background-color: black;
  border-radius: 10px;
  padding: 15px;
  max-width: 400px;
  margin: 10px;
}

#profileh1 {
margin: 10px;
font-size: 60px;
}